body{background-color:#B371F5;text-align:justify;font-size: 18px;}
H1 {text-align: center;background-color:#A92BF5;color:#9ADBF5;}
H3 {text-align: justify;color:#F50011;;}
B {color:#3BE05E;font-size:18 px;}
I{color:#E914F5;font-size: :18 px;}
head,footer{background-color: #01E5F5; color:#01E5F5;text-align:center;font-size:20 px;}
main{background-color: #A92BF5;}